main.dSYM
old_code
workloadgenerator.dSYM
main
workloadgenerator

workload/*

.DS_Store

*.dSYM
rle
rles
delta
snappy
huffman
lz
lz4

compressed.dat
decompressed.dat
zstd
workloadgen/load

*.bin

encoded.txt
lz77encoding
lz77encoding.cpp
decoding.cpp
encoding.cpp

variableByteEncoding.cpp
workloadgen/test.py

sortedload/